body {
    margin: 0;

    flex-direction: column;
    align-items: center;
  }
  html{
    scroll-behavior: smooth;
  }
  *{
    margin: 0%;
    padding: 0%;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .headings>header{
    display: flex;
    flex-direction: column;
    position:fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px 0px 10px 0px;
    height: 0vh;
    transition:height 1s;    
    z-index: 10;
}
.roll{
    display: flex;
    justify-content: space-between;  
}
.headings{
    position:absolute;
    width: 100%;
}

  .headings>header>div>span>h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(210,77,87);
    font-size: 35px;
  }
  .logo{
      width: 30px;
      height: 30px;
      margin: 10px 5px 0px 0px;
      -webkit-animation: burst 1.5s infinite linear;
      animation: burst 1.5s  linear;
      transform: scaleX(-1);
      filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)';
  }
  
  @keyframes burst
{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;
    }
    90%
    {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);

        opacity: 0;
    }
}
  .logo-cont{
      display: flex;
      padding: 0px 0px 0px 50px;
  }
nav a{
color: black;
text-decoration: none;
transition: 0.5s;
font-family: 'Signika', sans-serif;
}
nav a:visited{
  color: black;
}
nav a:active{
  color: black;
}
nav a:hover{
  color: rgb(56, 103, 214) ;
}
nav>ul{
    display: flex;
    list-style-type: none;
    margin: 10px 0px 0px 0px ;
  }
nav>ul>li{
    margin: 0px 20px 0px 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
 
  }
nav>ul>li:hover{
    color:rgb(56, 103, 214)  ;
  }
  nav>ul>li>hr{
    width: 0px;
    visibility: hidden;
    transition: 0.5s;
    background-color:rgb(56, 103, 214)  ;
    border-color: rgb(56, 103, 214) ;
    border-style:solid;
  }
  .firstPage{
    display: flex;
    /* max-width: 1024px; */
    align-items: center;
  }
  .descriptions{
    width: 50%;
    margin: 150px 0px 0px 50px;
  }
  .descriptions>h1{
    font-size: 40px;
    padding: 0px 0px 30px 0px;
    font-family: 'Fredoka', sans-serif;
  }
  .team-des{
    word-wrap: break-word;
    width: 70%;
    padding:0px 0px 40px 0px;
    font-family: 'Signika', sans-serif;
  }
  .contact-us{
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid rgb(56, 103, 214) ;
    background-color: #3867d6 ;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 1s;
    z-index: 100;
  }
  .contact-us:hover{
    background-color: #1d44a0 ;
  }
  .imageIllustration{
    width: 50%;
    margin: 100px 0px 0px 0px;
  }
  .firstImage{
    width: 100%;
    height: auto;
  }
  .menu-icon{
      width: 40px;
      height: 40px;
  }
.cancel{
    width: 30px;
    height: 30px;
}
.listed-items{
  margin: 30px 0px 0px 0px;
  visibility: hidden; 
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.listed-items a{
  text-decoration: none;
  color: black;
  font-family: 'Fredoka', sans-serif;
}
.list-items a:hover{
  color: rgb(56, 104, 214);
}
.list-icons{
  width: 3%;
  background-color: rgb(210,77,87);
  height: 100%;
  border-top-right-radius: 5px
}
.listed-items ul{
  width: 100%;
}
.listed-items li{
  padding: 35px 0px 35px 10px;
  list-style-type: none;
}

.listed-items hr{
  width: 100%;
}
.firstpage-back{
  width: 100%;
  height: 500px;
  position: absolute;
  margin-top: 200px;
  display:flex ;
  justify-content: flex-end;
  z-index: -10;
}
.boxone{
  width: 120px;
  height: 120px;
  background-color: rgba(210, 77, 88, 0.239);
  margin-top: 90%;
  z-index: -1;
}
.boxtwo{
  width: 120px;
  height: 120px;
  background-color: rgba(56, 103, 214, 0.226);
  margin-top: 70%;
  z-index: -1;
}
.roll{
  background-color: white;
}
.secondPage{
display: flex;
flex-direction: column;
align-items: center;
/* max-width: 1024px; */
margin: 150px 50px 0px 50px;
}
.secondPage>p:nth-child(1){
font-size: 40px;
margin-bottom: 50px;
font-family: 'Fredoka', sans-serif;
}
/* .span{
  width: 10px;
  height: 10px;
  border: 1px solid rgb(56, 103, 214) ;
  background-color: rgb(56, 103, 214) ;
  margin: 0px 5px 0px 5px;
  transform: rotate(45deg);
}
.styles{
  display: flex;
  margin-bottom: 70px;
  align-items: center;
}
.hr{
height: 0px;
width: 100px;
background-color: black;
} */

.secondPage>p:nth-child(2),.secondPage>p:nth-child(3){
  margin-bottom:50px ;
  text-align: center;
  font-family: 'Signika', sans-serif;
}
.secondPage>p:nth-child(4){
  text-align: center;
}

.missionvision{
  display: flex;
  max-width: 1024px;
  margin-top:70px;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 100px;
}
.mission,.vision{
width: 250px;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.missionvision img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.055);
  margin-bottom: 20px;
}
.missionvision hr{
height: 100px;
display: flex;
align-self: center;
color: rgba(17, 17, 17, 0.129);
background-color: rgba(17, 17, 17, 0.124);
}
.missionvision h2{
  margin: 10px 0px 20px 0px;
  font-family: 'Fredoka', sans-serif;
}
.missionvision p{
  font-family: 'Signika', sans-serif;
}
.thirdPage{
  display: flex;
  flex-direction: column;
  align-items:center ;
  width: 100%;
  text-align: center;
}
.thirdPage>p:nth-child(1){
  font-size: 40px;
  margin: 0px 0px 10px 0px;
  font-family: 'Fredoka', sans-serif;
}
.thirdPage p{
  font-family: 'Signika', sans-serif;
}
.teams{
display: flex;
justify-content: space-between;
width: 100%;
/* max-width: 1024px; */
margin: 100px 0px 50px 0px;
overflow: scroll;
overflow-y: hidden;
}
.teams::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
.teams::-webkit-scrollbar-track {
  background:rgb(255, 255, 255);
}
.teams::-webkit-scrollbar-thumb {
  background: rgb(51, 50, 50);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.team-container{
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.033),-1px -1px 1px 2px rgba(0, 0, 0, 0.033);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin:0px 10px 0px 10px ;
}
.team-container img{
  width: 300px;
  height: 200px;
}
.title{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title span:nth-child(1){
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
   
}

@media (max-width:700px) {
    .firstPage{display: flex;flex-direction: column-reverse;}
    .imageIllustration{width: 100%;}
    .descriptions{width: 100%;margin-left: 10px;margin-top: 20px;}  
    .team-des{width: 100%; }
    .headings>header>div>span>h1{font-size: 20px;}
    .logo-cont{padding-left: 0%;}
    .logo{width: 20px;height: 20px;margin-top: 5px;}
    .headings>header>nav{padding-top: 0px;font-size: 10px;}
    .teams{flex-direction: column; align-items: center; margin-top: 20px;}
    .team-container{margin-top: 20px; width: 300px !important; height: 300px !important;}
    .team-container img{width: 300px !important;}
    .missionvision{width: 100%;}
}
@media (max-width:800px) {
  .team-container{width: 200px; height: 300px;}
  .team-container img{width: 200px;height: 170px;}
  .teams{margin: 50px 0px 0px 0px;}
  .thirdPage>p:nth-child(2){margin-bottom: 60px;}
}



/* h1, h2,  */
figcaption {
  text-align: center;
  margin: 16px auto;
  font-weight: bold;
}
p:first-letter,
h2:first-letter, 
figcaption:first-letter, 
label{
  text-transform: capitalize;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  flex-grow: 1;
}
button.btn {
  background: #3867d6;
  width: 200px;
  display: block;
  margin: 9px auto;
  padding: 10px;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}
button.btn:active {
  background: #3C427C;
}
.icon {
  padding: 10px;
  background: #3867d6;
  border-radius: 5px;
}




section#testimonial {
  text-align: center;
  padding: 20px;
  margin: 70px 0px 0px 0px;
}
section#testimonial h2{
  font-size: 40px;
  font-family: 'Fredoka', sans-serif;
  margin: 0px 0px 10px 0px;
}
section#testimonial p{
  font-family: 'Signika', sans-serif;
}
section#testimonial > summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0px 50px 0px;
}
section summary h2{
  font-family: 'Fredoka', sans-serif;
}
section summary p{
  font-family: 'Signika', sans-serif;
  padding: 0px 0px 0px 0px;
}
section#testimonial > summary div.testimony {
  background: #3868d6;
  color: #fff;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  flex-basis: 200px;
  margin-top: 20px;
  margin-bottom: 90px;
}
section#testimonial > summary div.testimony::before {
  content: "";
  background: inherit;
  padding: 6px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform: rotate(50deg);
}
section#testimonial > summary div.customer {
  position: absolute;
  color: #000;
  top: 140%;
  left: 50%;
  transform: translate(-50%,-50%);
}
section#testimonial img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

section#contact-us {
  padding: 30px;
  color: #fff;
  background: #1B1E42;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section#contact-us img{
  width: 20px;
  height: 20px;
}
section#contact-us > summary {
  align-self: flex-start;
}
section#contact-us > summary > div.detail {
  margin: 20px auto;
}
section#contact-us > summary > div.detail > div {
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
section#contact-us > summary > div.detail > div > a {
  flex-grow: 1;
}
section#contact-us > summary > div.detail > div:hover {
  border: 1px solid #3867d6;
}
section#contact-us > form {
  background: #fff;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  margin: 16px auto;
  flex-basis: 350px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}
section#contact-us > form > div {
  display: flex;
  gap: 5px;
  padding: 5px;
  border: 0.5px solid;
  outline: none;
  margin: 5px auto;
  border-radius: 5px;
}

section#contact-us > form input, textarea {
  outline: none;
  border: none;
  width: 100%;
}
section#contact-us > form > div:hover 
{
  box-shadow: 1px 2px 10px rgba(0,0,255,0.3);
  outline: #3867d6 solid 1px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background: #000000;
  color: #FFFFFF;
}

footer ul {
  list-style: none;
  margin: 8vh auto;
  border-left: 1px solid #FFFFFF;
}
footer > section:first-child {
  display: flex;
  justify-content:center;
  align-items: center;
}
footer > section:last-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer  section  p {
  font-size: smaller;
  font-weight: 300;
}

footer section h3 {
  font-size: xx-large;
  padding: 20px;
  font-family: 'Fredoka', sans-serif;
}



footer section div {
  margin: 8px;
}

footer ul li {
  margin: 10px;
  text-transform: capitalize;
  padding: 2px 1rem;
  font-family: 'Signika', sans-serif;
}
footer ul li:hover > span {
  width: 100%;
  padding:  1px;
}

footer ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

footer ul li span {
  background: #3867d6;
  display: block;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-top: 5px;
}

@media (min-width: 824px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
